/* GLOBAL LAYOUT */
#root {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

a {
	margin: 10%;
	text-decoration: none;
}

path {
	/* fill: none; */
	stroke: gray;
	stroke-width: 0.8px;
}

/* alternating column backgrounds */
.vis-time-axis{
	background: #fff;
	font-size: 9px;

}

.vis-item.vis-background.marker {
	border-left: 2px solid green;
}

.vis-inner {
	font-size: 10px !important;
	font-weight: 400;
}

.vis-item.vis-dot {
	border-radius: 5px;
	border-width: 5px;
}

.vis-item.vis-dot.vis-selected {
	background-color: #f1a340 !important;
	border-color: orangered;
	color: white;
	box-shadow: 0 0 2px gray;
}

.fg-1 {
	background-color: #bebada;
	border-color: purple;
	color: white;
	box-shadow: 0 0 1px #bebada;
}

.fg-2 {
	background-color: #13B0B9;
	border-color: #16494c;
	color: white;
	box-shadow: 0 0 1px #8dd3c7;
}

.fg-3 {
	background-color: #ffffb3;
	border-color: #f1a340;
	box-shadow: 0 0 1px #ffffb3;
}

.fg-4 {
	background-color: #E43F3A;
	border-color: #ef9f9c;
	box-shadow: 0 0 1px #E43F3A;
	color: white;
}

.bg-1 {
	background-color: rgba(105, 255, 98, 0.2);
	border-color: #3a3654;
	color: black;
	box-shadow: 0 0 2px rgba(105, 255, 98, 0.2);
}

.icon > path {
	fill: #abcdec;
	stroke: none;
}

@-webkit-keyframes pulse {       
	0% {-webkit-transform: scale(1.0); opacity: 1;}
	50% {-webkit-transform: scale(1.02); opacity: 0.6;}
	100% {-webkit-transform: scale(1.0); opacity: 1;}
}

.pulse {
	/* Giving Animation Function */
	-webkit-animation: pulse 2s linear infinite;
}

.tooltip {
	position: absolute;
	text-align: center;
	width: 100px;
	height: 28px;
	padding: 2px;
	font: 12px sans-serif;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
}