# general things to ignore
build/
data/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
venv/*
.ipynb_checkpoints/*

# due to using tox and pytest
.tox
.cache
.pytest_cache
*.json
*.svg
*.csv
*.z
*.xml
*-data/*
*-figures/*
old-*
*.zip
*.dmv